<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    
    <title><%=title %></title>
    
    <link rel="stylesheet" href="/css/stilo.css" media="screen"/>
    <!-- <link rel="stylesheet" href="public/css/stilo.css" media="screen"/> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    
</head>

<body>
    <!--Centrar en bootstrap: https://codea.app/blog/centrar-div-boostrap -->
<!-- ENCABEADO--> 
<div class=" container-fluid fixed-top">
    <div class="encabezado row bg-dark border border-primary">
        <!-- navbar navbar-dark bg-dark -->
        <!-- <h1 class="display-1"><strong>Back2Study</strong></h1> -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                    </ul>
                    
                    <div class=" nav-item  d-flex">
                        <span class="navbar-text"><b>Usuario:</b> <%=nameUser %> </span>
                        <a href="/usuarios/CloseSession" class="btn btn-outline-danger btn-sm">Cerrar Sesion</a><br>
                    </div>
                </div>
            </div>
          </nav>
    </div>
</div>

<!-- CONTENIDO -->
    <div class="container contenido">
        
        <div class="row vh-80 justify-content-center align-items-center">
            
            <h1>HOLA <%=nameUser %> tu correo de sesion es <%=mailUser %></h1>
            <a href="/usuarios/CloseSession" class="btn btn-outline-danger btn-sm">Cerrar Sesion</a><br>
            <a href="/usuarios/prueba2" class="btn btn-outline-danger btn-sm">Go to principal2</a><br>
            
            <a href="/tareas/taskList" class="btn btn-outline-danger btn-sm">LISTAR</a><br> <br>
            
            
            
            
        </div>
        

        <% if(tareas){%>
            <% if(typeof(tareas) !== "undefined"){%>   
                <% tareas.forEach(function(p) {%> 

                    <div class="card text-dark bg-light mb-3" >
                        <div class="card-header"><%=p.nombre%></div>
                        <div class="card-body">
                            <h5 class="card-title"><%=p.fechaFin%></h5>
                            <p class="card-text"><%=p.prioridad%></p>
                        </div>
                    </div>
                <%});%>
            <%}%>
        <%}%>   
    </div>

    
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>