<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    
    <title><%=title %></title>
    
    <link rel="stylesheet" href="/css/stilo.css" media="screen"/>
    <!-- <link rel="stylesheet" href="public/css/stilo.css" media="screen"/> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    
</head>

<body>
    <!--Centrar en bootstrap: https://codea.app/blog/centrar-div-boostrap -->
<!-- ENCABEADO Menu--> 
<%- include("menu") %>

<!-- CONTENIDO -->
    <div class="container contenido ">
         <!-- <h1>HOLA <%=nameUser %> tu correo de sesion es <%=mailUser %></h1> -->
            <!-- Para borrado de tareas -->
            <% if(deleteId!=false){%>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Borrado exitoso</strong> Tarea con id <%=deleteId%>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% }%>

            <% let color="bg-secondary";%>
            <% let tipoTarea="";%>
            <% let prioridad="";%>
            <% if(tareas===0){%>
                <div class="row vh-80 justify-content-center align-items-center">
                    <p class="h3">Sin Tareas </p>
                </div> 
            <% }else{%>
                <% if(typeof(tareas) !== "undefined"){%> 
            <div class="row vh-80 justify-content-center align-items-center">

                <!-- HOLA <%=nameUser %> tu correo de sesion es <%=mailUser %> -->
                <p class="h3">Numero de Tareas: <span class="badge bg-warning rounded-circle"><%=tareas.length%></span></p>
            </div>  

                    <% tareas.forEach(function(p) {%>
                        <% if(p.prioridad == "ALTA"){
                            color="bg-danger";
                            prioridad="ALTA";
                        }
                        else if(p.prioridad == "MEDIA") {
                            color="bg-warning";
                            prioridad="MEDIA";
                        }
                        else if(p.prioridad == "BAJA") {
                            color="bg-success";
                            prioridad="BAJA";
                        }%>
                        <% if(p.tipo == "p"){
                            tipoTarea="Programada";
                            
                        }
                        else if(p.tipo == "m") {
                            tipoTarea="Manual";
                        }%> 
                        
            
            <div class="row">
                <div class="col ">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">#<%=p.id_tarea%> <b><%=p.nombre%></div></b>
                                <div class="col text-end"><small>Prioridad: <span class="badge <%=color%>"><%=p.prioridad%></span></small></div>
                            </div>
                            </div>
                        <div class="card-body">
                          <h5 class="card-title">Tarea <%=tipoTarea%></h5>
                          <p class="card-text">Fecha Fin: <%=p.fechafin.toDateString()%>.</p>
                            <button  type="button" class="btn btn-outline-primary">
                                <a href="/tareas/taskDetalisBy/<%=p.id_tarea%>/<%=p.tipo%>" style=" text-decoration:none;">Ver detalles</a>
                            </button>
                            <button  type="button" class="btn btn-outline-primary">
                                <a href="/tareas/deleteTask/<%=p.id_tarea%>/<%=p.tipo%>" style=" text-decoration:none;">Borrar</a>
                            </button>
                        </div>
                        <div class="card-footer text-muted">
                            <%p.categoria.split('@').forEach( tag => {%>
                                <% if(tag != ''){%>
                                    <a href="/porTag/<%=tag%>" class="badge bg-info">#<%=tag%></a>
                                <%} %>
                            <%});%>
                        </div>
                    </div>
                    <br>
                </div>
            </div>  
     
                            <%});%>
                        <%}%>
                    <%}%>
            
    </div>

    
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>